* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* overflow-x: hidden; */
}

.main-content-pannel {
    height: 939px;
    width: 1250px;
    padding: 33px 25px 0px 30px;
    display: flex;
    
}
.main-content-pannel-left {
    width: 636px;
    height: 869px;
    margin: 0px 0px 70px;
}
.main-content-pannel-right {
    height: 1200px;
    width: 621px;
    background-image: url("../../assets/box7_image.jpg");
}
.step-wizard-list{
    color: #333;
    list-style-type: none;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center; 
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    background: linear-gradient(332deg, #1D24CA -15.2%, #98ABEE 66.64%);
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 50px;
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after {
    content: "";
    height: 35px;
    width: 35px;
    background: linear-gradient(332deg, #1D24CA -15.2%, #98ABEE 66.64%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}

.progress-count:before {
    content: "";
    height: 6px;
    width: 12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}

.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: linear-gradient(332deg, #1D24CA -15.2%, #98ABEE 66.64%);
    border: 2px solid linear-gradient(332deg, #1D24CA -15.2%, #98ABEE 66.64%);;
}
.current-item .progress-count{
    color: white;
}


/** ========================================================================================= **/
.template {
    height: 53px;
    width: 170px;   
}
.template-btn {
    height: 53px;
    width: 120px;
}
.change-temp-action {
    height: 23px;
    width: 89px;
    color: #246eed;
    border: 1px solid #246eed;
    border-radius: 20px;
    font-weight: 400;
    padding: 8px 15px;
    margin-bottom: 12px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.change-temp-action:hover {
    background: linear-gradient(332deg, #1D24CA -5.2%, #98ABEE 66.64%);
    color: #fff;
}
.editor-inner-block {
    width: calc(100% - 80px);
    margin-left: 12px;
    margin-right: 12px;
}
.editor-area-blueline {
    border-top: 3px solid #2a64ad;
    width: 100%;
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,.05);
    padding: 10px 25px;
}
.editor-form-wrap {
    margin-top: 29px;
}