.chip-div {
    display: block;
    background: rgb(29,36,202);
    background: #2a64ad;
    color: #fff;
    height: 25px;
    border: 1px solid #201658;
    justify-content: space-between;
    border-radius: 12px;
    padding: 10px;


}

.chip-del {
    width: 10px;
    height: 10px;
    border-radius: 5;
    background:transparent;
    border: none;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}
