.chip {
    display: inline-flex;
    align-items: center;
    background-color: #FDE2F3; 
    border-radius: 24px; 
    padding: 8px 16px; 
    margin: 2px;
    color: #555;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent; 
    transition: all 0.3s ease; 
  }
  
  .chip:hover {
    background-color: #E5BEEC; 
  }
  
  .chip-label {
    margin-right: 8px;
  }
  
  .delete-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: opacity 0.3s ease; 
  }
  
  .delete-icon:hover {
    opacity: 1;
  }
  

  .feather {
    width: 16px;
    height: 16px;
    stroke: #777;
  }
  