.editor-form {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  /* align-items: center; */
  margin-bottom: 12px;
}

.field-wrap {
  display: block;
  margin: 10px;
}

.field-wrap label {
  margin: 0px 0px 4px;
  font-size: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 16px;
  display: inline-block;
}
.field-wrap input {
  height: 30px;
  padding: 1px 10px;
  background: #ffffff;
  max-width: 220px;
  width: 100%;
  border: 1px solid #dee3ee;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.field-wrap input:focus {
  border-color: #246eed;
}
