#footer-cont {
    background-color: #023b5e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer1 {
    padding: 14px;
    font-family: "Poppins",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}